<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='style-log-reg.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <title>Securevault</title>
  </head>
  <body>
    <div class="navbar">
      <h2>SECURE VAULT</h2>
    </div>
    <div class="container">
      <form action="/login" method="post" autocomplete="off">
        <div class="form-group">
          <h2>Login to Your Account</h2>
        </div>
        <!-- {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
              <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %} -->
        <div class="form-group">
          <label for="username">Username or Email</label>
          <div class="input-item">
            <i class="fa-solid fa-user"></i>
            <input
              type="text"
              id="username"
              class="username"
              name="email"
              placeholder="Enter Username or Email"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <div class="input-item">
            <i class="fa-solid fa-lock"></i>
            <input
              type="password"
              id="password"
              class="password"
              name="password"
              minlength="8"
              placeholder="Enter Password"
              required
            />
          </div>
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div id="flash-container">
            {% for category, message in messages %}
            {% if category == 'danger' %}
            <!-- Show only danger messages -->
            <p class="flash-message {{ category }}">{{ message }}</p>
            {% endif %}
            {% endfor %}
          </div>
          {% endif %}
          {% endwith %}
        </div>
        <div class="form-group">
          <p class="text">
            New to Secure Vault?
            <a href="{{url_for('register')}}" class="link">Register now.</a>
          </p>
        </div>
        <div class="form-group">
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
    <script lang="javascript">
        // Automatically remove the flash message after 10 seconds
      setTimeout(function () {
        var flashContainer = document.getElementById("flash-container");
        if (flashContainer) {
          flashContainer.style.display = "none";
        }
      }, 5000); // 10 seconds
    </script>
  </body>
</html>
